<!-- Dialog HTML Template -->
<div class="overlay">
    <div class="dialog">
        <div class="dialog-header">
            <div class="dialog-title">Title</div>
            <div class="dialog-close">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="dialog-content">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, unde?
        </div>
        <div class="dialog-footer">
            <button class="dialog-btn btn-close btn-secondary">Cancel</button>
            <button class="dialog-btn btn-act btn-primary">Do it</button>
        </div>
    </div>
</div>
